<ion-view title="Geral">
    <ion-content>

        <h3>{{pacote.destino}}</h3>

        <div class="list list-inset">
            <a class="item" ui-sref="tabs.informacoes({id: pacote.$id})">
                <center>Informações</center>
            </a>

            <a class="item" ui-sref="roteiro">
                <center>Roteiro</center>
            </a>

            <a class="item" ui-sref="chat">
                <center>Chat</center>
            </a>

            <a class="item" ui-sref="lista">
                <center>Check List</center>
            </a>

            <a class="item" ui-sref="perfil">
                <center>Pefil</center>
            </a>
        </div>
        <div class="button-bar">
            <button class="button button-dark" ng-click="comprar()">Comprar</button>
        </div>
    </ion-content>
</ion-view>