<ion-tabs class="tabs-dark tabs-icon-top">

    <ion-tab title="Minhas Viagens" icon-on="fa fa-suitcase" icon-off="fa fa-suitcase" ui-sref="tabs.viagem">
        <ion-nav-view name="tab-viagem"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Pacotes" icon-on="fa fa-plane" icon-off="fa fa-plane" ui-sref="tabs.pacotes">
        <ion-nav-view name="tab-pacotes"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Dicas" icon-on="fa fa-lightbulb-o" icon-off="fa fa-lightbulb-o" ui-sref="tabs.dicas">
        <ion-nav-view name="tab-dicas"></ion-nav-view>
    </ion-tab>

</ion-tabs>